@page
@model ButtonsModel
@{
    ViewData["Title"] = "Buttons";
}
<h2 class="mt-5">@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="row">
    <div class="col mt-5">
        <div>
            <primarybutton kr-icon="edit">Primary</primarybutton>
        </div>
        <div>
            <SecondaryButton class="mb-2 mt-2">Secondary</SecondaryButton>
        </div>
        <div>
            <DangerButton>Danger</DangerButton>
        </div>
        <div>
            <SuccessButton>Success</SuccessButton>
        </div>
        <div>
            <warningbutton>Warning</warningbutton> &nbsp;
            <warningbutton kr-outline>Warning (outline)</warningbutton>
        </div>
        <div>
            <infobutton type="button">Info</infobutton>
        </div>
        <div>
            <lightbutton>Light</lightbutton>
        </div>
        <div>
            <darkbutton>Dark</darkbutton>
        </div>
        <div>
            <linkbutton>Link</linkbutton>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8 mt-3">A couple of button groups, separated using the <a href="https://getbootstrap.com/docs/4.1/utilities/flex/#auto-margins">auto-margins feature</a></div>:
</div>
<div class="row">
    <div class="col-8">
        <div class="d-flex bd-highlight mt-2">
            <ButtonGroup class="mr-auto" aria-label="Basic example">
                <PrimaryButton>Click Me</PrimaryButton>
                <darkbutton>Click Me</darkbutton>
                <WarningButton kr-icon="at">Click Me</WarningButton>
            </ButtonGroup>
            <ButtonGroup aria-label="Another Basic example">
                <SuccessButton>Click Me</SuccessButton>
                <InfoButton>Click Me</InfoButton>
                <DangerButton kr-icon="at">Click Me</DangerButton>
            </ButtonGroup>
        </div>
    </div>
</div>